<%- include("header") -%>

<body>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

    <div class="box" id="">
        <% for(var i = 0; i < Newitems.length; i++) { %>
        <div class="item">
            <input type="checkbox">
            <p><%= Newitems[i] %></p>
        </div>
        <% } %>

        <form action="/" method="post" class="item">
            <input type="text" name="item" autocomplete="off" placeholder="Insert new todo...">
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>

    </div>


</body>

</html>