<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="" method="POST" class="compose">
    <input type="text" name="composeItem" autocomplete="off" placeholder="Insert new message...">
    <button type="submit" name="publish">Publish</button>
</form>
<%- include("partials/footer") -%>