body {
    background-color: #dde7f2;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    /* color: rgb(255, 255, 255); */
    color: #878ecd;
}

a {
    color: #dde7f2;
    text-decoration: none;
    padding-right: 30px;
}

a:visited {
    color: #dde7f2;
}

#container {
    background-color: #b9bbdf;
    height: 500px;
    width: 68.75rem;
    margin: 0 auto;
    border-style: solid;
}

#categories {
    padding: 30px;
}

#image {
    margin-top: 50px;
    align-content: center;
    text-align: center;
    border-color: #0d7377;
}

